.card {
  width: calc(100% - 1rem);
  min-width: 20rem;
  min-height: 2rem;
  padding: 1rem 0.5rem;
  margin-top: 0.25rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  >p {
    border: none;
    font-size: var(--font-sm);
    font-weight: 400;
  }
  >.action-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    >.button {
      // width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      // justify-content: center;

      >img {
        width: 80%;
        height: 80%;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
